.grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);

    .grid-item {

        height: 10rem; // TODO: edit this.

        .grid-item-image {
            max-height: 100%;
        }

    }
}
