<router-outlet></router-outlet>

<hr />

<footer class="container">
    <p class="text-center small">
        Portions of this website are unofficial Fan Content permitted under the
        Wizards of the Coast Fan Content Policy. The literal and graphical
        information presented on this site about Magic: The Gathering, including
        card images, card names, the planeswalker symbol and the chaos symbol,
        is copyright Wizards of the Coast, LLC, a subsidiary of Hasbro, Inc.
        this website is not produced by, endorsed by, supported by, or
        affiliated with Wizards of the Coast.
    </p>
    <p class="text-center small">
        All other content is licenced as outlined in the LICENSE file in this
        project's
        <a href="https://github.com/Ionaru/planechase" target="_blank"
            >open-source repository</a
        >. <fa-icon [icon]="copyrightIcon"></fa-icon> 2021 Jeroen Akkerman.
    </p>
</footer>
