<div class="container">
    <div class="buttons mt-3">
        <div class="nav-button">
            <button
                class="btn btn-primary d-block"
                (click)="setPreviousPlane()"
                [disabled]="!previousPlanes.length"
            >
                <fa-icon [icon]="previousIcon" [fixedWidth]="true"></fa-icon>
            </button>
        </div>
        <app-dice-roller [seed]="seed"></app-dice-roller>
        <div class="nav-button">
            <button
                class="btn btn-primary d-block"
                (click)="setNextPlane()"
                [disabled]="!currentPlane"
            >
                <fa-icon [icon]="nextIcon" [fixedWidth]="true"></fa-icon>
            </button>
        </div>
    </div>

    <hr />

    @if (currentPlane) {
        <img [alt]="currentPlane.name" class="plane" [src]="currentPlane.img" />
    } @else {
        <div class="text-center mb-3">
            <p>You have used all planes!</p>
            <button class="btn btn-danger" (click)="resetPlanes()">
                Reset
            </button>
        </div>
    }

    <hr />

    <div class="buttons mt-3">
        <div class="nav-container">
            <app-nav-buttons></app-nav-buttons>
        </div>
    </div>
</div>
