<link rel="preload" as="image" href="assets/planeswalker.png">
<link rel="preload" as="image" href="assets/chaos.png">

<div class="roll-panel">
    <button class="btn btn-primary d-block" (click)="reset()">
        <fa-icon [icon]="resetIcon" [fixedWidth]="true"></fa-icon>
    </button>
    <div class="m-auto">
        <p class="align-middle m-auto">
            <strong>{{rollCounter}}</strong>
        </p>
    </div>
    <div class="m-auto">
        <p class="align-middle m-auto" *ngIf="rolled !== 6 && rolled !== 1">
            <fa-icon [icon]="xIcon"></fa-icon>
        </p>
        <img alt="planeswalker" *ngIf="rolled === 6" src="assets/planeswalker.png">
        <img alt="chaos" *ngIf="rolled === 1" src="assets/chaos.png">
    </div>
    <button class="btn btn-primary d-block" (click)="roll()">
        <fa-icon [icon]="rollIcon" [fixedWidth]="true"></fa-icon>
    </button>
</div>
