<link rel="preload" as="image" href="assets/PW.svg" />
<link rel="preload" as="image" href="assets/CHAOS.svg" />

<div class="roll-panel">
    <button class="btn btn-primary d-block" (click)="reset()">
        <fa-icon [icon]="resetIcon" [fixedWidth]="true"></fa-icon>
    </button>
    <div class="m-auto">
        <p class="align-middle m-auto">
            <strong>{{ rollCounter }}</strong>
        </p>
    </div>
    <div class="m-auto">
        @if (rolled !== 6 && rolled !== 1) {
            <p class="align-middle m-auto">
                <fa-icon [icon]="xIcon"></fa-icon>
            </p>
        }
        @if (rolled === 6) {
            <img alt="planeswalker" src="assets/PW.svg" />
        }
        @if (rolled === 1) {
            <img alt="chaos" src="assets/CHAOS.svg" />
        }
    </div>
    <button class="btn btn-primary d-block" (click)="roll()">
        <fa-icon [icon]="rollIcon" [fixedWidth]="true"></fa-icon>
    </button>
</div>
